@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bemvindo</h1>
    <p><a asp-controller="Avaliacoes" asp-action="Create">Preecha Sua Ficha de Avaliação</a></p>
</div>
